main.content{
   
div.woocommerce{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color:  #000000;
  
    .woocommerce-cart-form {
        width: 50%;
        margin-top: -308px;
        margin-left: 52px;

        .shop_table{
                   
            .actions{
                display: none;
            }
                    height: 80px;
                    .product-thumbnail{
                        
                         
                                        th,td{
                                            font-family: $medium-font;
                                            font-weight: 500;
                                            font-size: 18px;
                                            line-height: 21.09px;
                                            color: red;
                        
                                        }
                                        th{
                                            border-top: none;
                                        }
                                        td{
                                            border-top: 1px solid $primary-font-color;
                                        }
                    }
        }

    }

   .cart-collaterals{

        .cart_totals{
            float: right;
            margin-right: 88px;
            margin-top: -60px;
            width: 40%;
        
        h2{
        display: none;
        }


        .wc-proceed-to-ckeckout{
            a.checkout-button{
                background-color: #FFFFFF;
                width: 400px;
            }
        }
          }
       
       }

    }
   }

    
    .woocommerce-cart-form {
        width: 50%;
        margin-top: -304px;
    } 
    


            .woocommerce-cart-form__cart-item{
                height: 100%;
                position: relative;
                td{
                    border-top: none;
                }

                .product-thumbnail{
                    width: 40%;
                    height: 100%;
                }
            }

            .product-name{
                a{
                    font-family: $medium-font;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18.75px;
                    color: $primary-font-color;
                    text-decoration: none;
                }
            }
            

            .product-remove{
                position: absolute;
                top: 0;
                right: 0;
            }
            .product-remove {
                .remove{
                    color: $primary-font-color !important; 
                    font-size: 30px !important;
                    &:hover{
                        background-color: transparent !important;
                    }
                }
            }

