.email-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
    height: 800px;
    margin: auto;

    .email-header-title {
        width: 100%;
        height: 50px;
        background-color: purple;
        text-align: center;
        margin-bottom: 20px;

        p {
            font-family: Roboto;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }
    }

    .email-order-inner {
        margin-bottom: 20px;

        .customer-name {
            font-weight: bold;
            display: block;
        }

        .order-summary-info,
        .order-payment-info {
            display: block;
            margin-bottom: 10px;
        }

        #order-title {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .email-order-detail {
        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f9f9f9;
            }
        }
    }

    .email-shipping-billing {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .email-billing {
            width: 48%;

            h2 {
                margin-bottom: 10px;
            }

            .address {
                p {
                    margin: 0 0 10px;
                }
            }
        }
    }
}