
// Header styles
header {
    background-color: $primary-background-color;
    color: $primary-text-color;
    padding: 20px;

    /* Header section 1 styles */
    .header-section1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 24px;
        }

        .header-icons {
            display: flex;
        
            .header-icon {
                width: 30px;
                height: 30px;
                margin-right: 29px;
                color: $primary-text-color;
            }
        
            .basket-icon {
                a {
                    text-decoration: none;
                    div.cart_count {
                        margin-top: -15px;
                        color: white;
                        border-radius: 50px;
                    }
                    span.cart-count {
                        margin: 8px 5px 32px 14px;
                        background-color: orange;
                        width: 4px;
                        padding: 4px 8px 4px 9px;
                        border-radius: 95px;
                        text-decoration: none;
                        }
                    }
                }
            }
        
    }

    /* Header section 2 styles */
    .header-section2 {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .header-menu {
            display: flex;

            ul {
                list-style: none;
                display: flex;

                li {
                    margin-right: -33px;

                    a {
                        color: $primary-text-color;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 16px;
                        margin-right: 113px;
                    }
                }
            }
        }
    }

    /* Horizontal line styles */
    hr {
        border: none;
        border-top: 1px solid $primary-text-color;
        margin: 20px 0;
    }
}
