.home-section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;

    .home-top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .header-icon {
            margin-right: 10px;
        }

        h2 {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000080;

            margin: 0; // Reset default margin
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 20px; // Adjust spacing between list items
        }
    }

    .wp-block-columns{
        background: #DBD0CCCC;
        border: 1px solid #000000;
    }

    .wp-block-image img {
        /* box-sizing: border-box; */
        /* height: auto; */
        /* max-width: 100%; */
        /* vertical-align: bottom; */
        width: auto;
        height: auto;
    }
    
    .header-section2-part2-p1 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #323334;
        margin-top: 30px;
    }

    .header-section2-part2-p2 {
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.wp-block-group__inner-container img.wp-image-331{
    width: 100%;
}



.right-content{
    input{
        width: 515px;
        height: 50px;
        border: 1px solid black;
        padding: 26px;
        margin-bottom: 38px;
        margin-left: 175px;
    }
    button{
        width: 85px;
        height: 54px;
        background-color: black;
        border: 1px solid black;
        margin-left: 690px;
        margin-top: -92px;
    }
}