****SECTION-02****/

/* 
.home-section2-container {
    background-color:  #923311cc;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-items: normal!important;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap!important;
   
}

.home-section2-part2-p1{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #323334;
    margin-top: 105px;
    margin-bottom: 20px
}

.home-section2-part2-p2 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #A86A3D;
    margin-top: 90px;
} 


.hover-buttons{
    display: none;
}

 */
 .woocommerce-Reviews{
    display: none;
 }

.product_meta{
    display: none;
}
 /* .woocommerce-tabs.wc-tabs-wrapper{
    display: none ;
 } */

