.header-section2-container{
    background-color:  #DBD0CCCC;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.header-section2-part2-p1{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #323334;
    margin-top: 105px;
    margin-bottom: 20px
}

.header-section2-part2-p2{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #A86A3D;
}

.wp-block-button__link {
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em;
    background: #DBD0CCCC;
    top: 259px;
    border: 1px solid #323334;
    color: #323334;
    margin-top: 30px;
    border-radius: 1px;
}

.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    margin-left: 214px;
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .wp-block-image img {
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
        margin-left: 143px;
    }

    header .header-section2 .header-menu ul li a {
        color: #323334;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        margin-right: 49px;
    }
}

.wp-container-core-columns-layout-6.wp-container-core-columns-layout-6 {
   
    margin-top: 66px;
    margin-left: 78px;
    margin-right: 30px;
    height: 40px;
}

.header-section3-part1 {
    margin-top: -35px;
    background: #FAFAFA;
    height: 378px;
}

/* .header-section3-img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    width: 353px;
    height: 353px;
    top: 863px;
    left: 78px;

    /* margin-left: 214px; */
/* }  */

.wp-block-image {
    margin-left: -213px;
    margin-bottom: -15px;
    margin-top: 10px;
}

.header-section3-conatiner{
    margin-top: -1px;
    height: 100px;
    margin-top: 30px;
}

.header-secriont3-part1-p p.header-section3-part1-p{
    margin-top: 152px;
    margin-left: 79px;
    font-family: Roboto;
}

.wp-block-button__link {
    font-family: Roboto;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em;
    background: #DBD0CCCC;
    top: 259px;
    border: 1px solid #323334;
    color: #323334;
    margin-top: 36px;
    border-radius: 1px;
    margin-left: 78px;
}

.header-section3-part2 {
    margin-top: -35px;
    background: #EAE9E7;
    height: 342px;
}

.home-section3-part2-img{
    height:30px;
}

.wp-block-column .home-section3-part2-img{
    height: 40px;
    margin-bottom: 40px;
}

.home-section3-part2-paragraph{
    margin-top: 139px;
}
.home-section3-part2-p{
    font-family: Roboto;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin-top: 30px;

}

.home-section3-part2-button{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: -75px;
    margin-top: -28px;
}

.wp-block-image .size-full{
height: 60px;
}